.navbar-light {
  background-color: transparent;
  border-color: transparent;
  color: #ffffff;
}

@mixin background-size($size) {
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
  background-size: $size;
}

header {
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("../../images/enora_pic.jpg") no-repeat center center fixed;
  @include background-size(cover);
  color: #fff;
  opacity: 0.8;
  height: 500px;
  text-align: center;

  .intro-text {
    padding-top: 200px;
    padding-bottom: 200px;

    .intro-lead-in {
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 25px;
    }

    .intro-heading {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 50px;
      line-height: 50px;
      margin-bottom: 25px;
    }
  }
}

section {
  padding: 50px 100px 0 100px;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 30px
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  @include border-radius(10px);

  &:hover {
    /* On mouse-over, add a deeper shadow */
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}

.rounded-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@mixin card-columns($count) {
  .card-columns {
    -webkit-column-count: $count;
    -moz-column-count: $count;
    column-count: $count;
  }
}

@media (min-width: 576px) {
  @include card-columns(2);
}

@media (min-width: 768px) {
  @include card-columns(2);
}

@media (min-width: 992px) {
  @include card-columns(3);
}

.footer {
  margin-top: 30px;
  background-color: #233140;
  opacity: 0.7;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: #2B3E51;
    text-decoration: none;
  }
}