#app-div {
  background-image: linear-gradient(to bottom, #c1c1c1 0, #c1c1c1 100%);
  border-radius: 10px;
  box-shadow: inset 1px 2px 3px 1px rgba(240, 240, 240, 0.5), 1px 2px 1px #dadada;
  margin-top: 15px;
  opacity: .8;
  text-align: center; }

#control-panel {
  padding-bottom: 10px; }

#plots {
  margin-bottom: 10px;
  margin-top: 20px; }

.plot {
  margin-top: 10px; }

.main-svg {
  border-radius: 7px;
  box-shadow: inset 1px 2px 1px 1px rgba(0, 0, 0, 0.15); }

.slider-row {
  display: inline-block;
  margin: 10px auto;
  max-width: 40%; }

.slider.slider-horizontal {
  display: block;
  margin: 0 auto;
  max-width: 70%; }

.slider-selection {
  background-image: linear-gradient(to bottom, #c1c1c1 0, #d2d2d2 100%);
  box-shadow: inset 1px 1px 1px 0 rgba(0, 0, 0, 0.15); }

.slider-track-high {
  background-image: linear-gradient(to bottom, #e5e5e5 0, white 100%);
  box-shadow: inset 1px 1px 1px 0 rgba(0, 0, 0, 0.15); }

section {
  margin-bottom: 30px;
  padding-top: 30px; }

p {
  font-size: medium; }

ol {
  font-size: medium;
  list-style-type: lower-alpha; }

/*# sourceMappingURL=bloch.css.map */
